# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
*.ipynb_checkpoints

# pyenv
.python-version

# torcs server
torcs-1.3.7-patched

# Jetbrains
.idea

# dunno what this is

.idea
.directory
.idea/
echo-state-net/.idea/

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
.vscode/

